img {
  width: 419px;
  height: 419px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.row {
  display: table;
}
.jumbotron {
  padding-top: 50px;
  padding-bottom: 20px;
  align-items: center;
}
